{% extends "tampere_theme/base.html" %}

{% block body_content %}
    <br>
    <p>
        Tunnistamo toimii kertakirjautumispalveluna Tampereen kaupungin pilotoimissa verkkopalveluissa.
        Sen avulla mahdollistetaan kertakirjautuminen esimerkiksi Facebook- tai Google -tunnuksia hyödyntäen
        ilman erillisiä palvelukohtaisia käyttäjätunnuksia. Tunnistamoa hyödynnetään tällä hetkellä
        Tampereen kaupungin <a href="https://varaamo.tampere.fi">Varaamo</a> -palvelun pilotissa.
    </p>
    <p>
        Tunnistamo -kertakirjautumispalvelu on alunperin Helsingin kaupungin toteuttama ja sen avoin
        lähdekoodi löytyy <a href="https://github.com/Tampere/tunnistamo" target="_blank">Github</a> -palvelusta.
    </p>
{% endblock %}
